<p><button class="btn">Standard gray button</button>
<p><button class="btn btn-primary">Primary action in a group</button>
<p><button class="btn btn-info">Alternative to the default</button>
<p><button class="btn btn-success">Successful action</button>
<p><button class="btn btn-warning">Caution should be taken</button>
<p><button class="btn btn-danger">Dangerous or negative action</button>
<p><button class="btn btn-inverse">Alternate dark button</button>
<p><button class="btn btn-link">Make a button look like a link</button>
