<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><%= @active.title %></h1>
  </div>
</header>

<div class="container">
  <!-- Docs nav
  ================================================== -->
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <%= render :partial => "sidebar" %>
    </div>

    <div class="span9">
      <% @active.partials.each do |partial| %>
        <%= render :file => partial.path %>
      <% end %>
    </div>
  </div>
</div>
