<%= render :partial => "header" %>

<div class="style-guide-content">
  <div class="style-guide-sidebar">
    <%= render :partial => "sidebar" %>
  </div>

  <div class="style-guide-sections">
    <% @active.partials.each do |partial| %>
      <%= render :partial => "example", :locals => { :partial => partial } %>
    <% end %>
  </div>
</div>
