<h4>Grid sizing</h4>
<p>Use <code>.span1</code> to <code>.span12</code> for inputs that match the same sizes of the grid columns.</p>
<form class="bs-docs-example" style="padding-bottom: 15px;">
  <div class="controls docs-input-sizes">
    <input class="span1" type="text" placeholder=".span1">
    <input class="span2" type="text" placeholder=".span2">
    <input class="span3" type="text" placeholder=".span3">
    <select class="span1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <select class="span2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <select class="span3">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>
<pre class="prettyprint linenums">
&lt;input class="span1" type="text" placeholder=".span1"&gt;
&lt;input class="span2" type="text" placeholder=".span2"&gt;
&lt;input class="span3" type="text" placeholder=".span3"&gt;
&lt;select class="span1"&gt;
  ...
&lt;/select&gt;
&lt;select class="span2"&gt;
  ...
&lt;/select&gt;
&lt;select class="span3"&gt;
  ...
&lt;/select&gt;
</pre>

<p>For multiple grid inputs per line, <strong>use the <code>.controls-row</code> modifier class for proper spacing</strong>. It floats the inputs to collapse white-space, sets the proper margins, and the clears the float.</p>
<form class="bs-docs-example" style="padding-bottom: 15px;">
  <div class="controls">
    <input class="span5" type="text" placeholder=".span5">
  </div>
  <div class="controls controls-row">
    <input class="span4" type="text" placeholder=".span4">
    <input class="span1" type="text" placeholder=".span1">
  </div>
  <div class="controls controls-row">
    <input class="span3" type="text" placeholder=".span3">
    <input class="span2" type="text" placeholder=".span2">
  </div>
  <div class="controls controls-row">
    <input class="span2" type="text" placeholder=".span2">
    <input class="span3" type="text" placeholder=".span3">
  </div>
  <div class="controls controls-row">
    <input class="span1" type="text" placeholder=".span1">
    <input class="span4" type="text" placeholder=".span4">
  </div>
</form>
<pre class="prettyprint linenums">
&lt;div class="controls"&gt;
  &lt;input class="span5" type="text" placeholder=".span5"&gt;
&lt;/div&gt;
&lt;div class="controls controls-row"&gt;
  &lt;input class="span4" type="text" placeholder=".span4"&gt;
  &lt;input class="span1" type="text" placeholder=".span1"&gt;
&lt;/div&gt;
...
</pre>
