<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>Integer posuere erat a ante.</p>
</blockquote>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <small>Someone in <cite title="Source Title">Title</cite></small>
</blockquote>

<blockquote class="pull-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <small>Someone in <cite title="Title">Title</cite></small>
</blockquote>
