<p>
  <button type="button" class="btn btn-large btn-primary">Large button</button>
  <button type="button" class="btn btn-large">Large button</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn">Default button</button>
</p>
<p>
  <button type="button" class="btn btn-small btn-primary">Small button</button>
  <button type="button" class="btn btn-small">Small button</button>
</p>
<p>
  <button type="button" class="btn btn-mini btn-primary">Mini button</button>
  <button type="button" class="btn btn-mini">Mini button</button>
</p>
