.style-guide-partial {
  position: relative;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.style-guide-partial:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 100;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #888;
}
