.style-guide-partial {
  padding-top: 30px;
  background-color: white;
  margin: 10px 0;
  padding: 10px;
}

.style-guide-example-header {
  font-weight:100;
  color: #888;
  font-size: 24px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.style-guide-example-description {
  margin-bottom: 15px;
  color: #5D5C5C;
}

.style-guide-example-description code {
  white-space: nowrap;
  color: #d14;
  background-color: #f5f5f5;
  padding: 2px 4px;
  border: 1px solid #ddd;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.style-guide-example {
  position: relative;
  padding: 10px 20px;
  padding-top: 32px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  overflow: hidden;
}

.style-guide-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 0 5px;
  font-size: 11px;
  line-height: 18px;
  height: 18px;
  font-weight: 100;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #888;
  opacity: 0.75;
}

.style-guide-partial .style-guide-example-source {
  white-space: pre;
  word-wrap: normal;
  margin-top: 0;
  padding: 10px 10px 10px 14px;
  background: #f5f5f5;
  border-color: #ddd;
  overflow-x: auto;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.style-guide-example-source {

}
