.style-guide-bar {
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.style-guide-bar-container {
  width: 100%;
  margin: 0 auto;
}

.style-guide-bar a {
  text-decoration: none;
}

.style-guide-bar a {
  color: #888;
  text-decoration: none;
}

.style-guide-bar a.brand {
  float: right;
  color: #ddd;
  text-shadow: 0 0 10px rgba(0,0,0,.05);
}

.style-guide-bar a.brand {
  display: block;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  margin: 5px 10px;
  padding: 5px 10px;
}

.style-guide-navigation-button {
  position: absolute;
  top: 0;
  left: 0;
}

.style-guide-bar input[type=checkbox] {
  display: none;
}

.style-guide-bar input:checked + .style-guide-bar-sections {
  height: auto;
  padding: 5px 10px;
}

.style-guide-bar-sections {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;

  clear: both;

  background: #ddd;

  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 3px 3px rgba(0, 0, 0, .15);
     -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 3px 3px rgba(0, 0, 0, .15);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1), 0 3px 3px rgba(0, 0, 0, .15);
}

.style-guide-bar-section {
  margin: 10px 0;
  font-size: 14px;
}

.style-guide-bar-section a {
  padding: 2px 5px;
}

.style-guide-bar-section.active a,
.style-guide-bar-section a:hover {
  background-color: #888;
  color: #f5f5f5;
}

@media (min-width: 720px) {
  .style-guide-navigation-button {
    display: none;
  }

  .style-guide-bar input:checked + .style-guide-bar-sections {
    padding: 0;
  }

  .style-guide-bar-sections {
    margin: 0;
    height: auto;
    clear: none;
    background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }

  .style-guide-bar-section {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .style-guide-bar-section a {
    color: #888;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 10px;
  }

  .style-guide-bar-section.active a,
  .style-guide-bar-section a:hover {
    background-color: #ddd;
    color: #888;
  }

  .style-guide-bar-section.active a:hover,
  .style-guide-bar-section.active a {
    background-color: #ddd;
    color: #888;
  }
}

@media (min-width: 960px) {
  .style-guide-bar-container {
    width: 960px;
  }
}
