.style-guide-partial {
  padding-top: 30px;
  background-color: white;
  margin: 10px 0;
  padding: 10px;
}

.style-guide-partial-title {
  font-weight:100;
  color: #888;
  font-size: 24px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.style-guide-partial-description {
  font-size: 14px;
  margin-bottom: 15px;
  color: #5D5C5C;
}

.style-guide-partial-source,
.style-guide-partial-identifiers code,
.style-guide-partial-description code {
  font-size: 12px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.style-guide-partial-identifiers code,
.style-guide-partial-description code {
  color: #d14;
  background-color: #f5f5f5;
  padding: 0 4px;
  border: 1px solid #ddd;
  white-space: nowrap;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.style-guide-partial-rendered,
.style-guide-partial-identifiers {
  position: relative;
  padding: 27px 15px 10px 15px;
  overflow: hidden;

  background-color: #fff;
  border: 1px solid #f5f5f5;
}

.style-guide-partial-rendered + .style-guide-identifiers {
  border-top-width: 0;
}

.style-guide-toggle,
.style-guide-partial-rendered:after,
.style-guide-partial-identifiers:after {
  height: 18px;
  border: 1px solid #ddd;

  font-size: 11px;
  line-height: 18px;
  font-weight: 100;
  background-color: #f5f5f5;
  color: #888;
  opacity: 0.75;
}

.style-guide-partial-rendered:after,
.style-guide-partial-identifiers:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 0 5px;
}

.style-guide-partial-rendered:after {
  content: "Example";
}

.style-guide-partial-identifiers:after {
  content: "Identifiers";
}

pre.style-guide-partial-source {
  display: none;
  white-space: pre;
  word-wrap: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 10px 10px 14px;
  background: #fff;
  border-color: #ddd;
  overflow-x: auto;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.style-guide-partial-source span {
  cursor: text;
}

.style-guide-toggle {
  border-top: 0;
  text-align: center;
  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: -moz-none;
   -khtml-user-select: none;
          user-select: none;
}

.style-guide-toggle.hide {
  display: none;
}

.style-guide-partial > input[type=checkbox] {
  display: none;
}

.style-guide-partial > input:checked + label .style-guide-toggle.show {
  display: none;
}

.style-guide-partial > input:checked + label .style-guide-toggle.hide,
.style-guide-partial > input:checked + label .style-guide-partial-source {
  display: block;
}

.style-guide-partial .style-guide-partial-rendered > * {
  float: none;
  position: relative;
}
