.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: navy; }
.typ, .atn, .dec, .var { color: teal; }

.prettyprint {
  padding: 8px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #ECECEC, inset 41px 0 0 #ddd;
     -moz-box-shadow: inset 40px 0 0 #ECECEC, inset 41px 0 0 #ddd;
          box-shadow: inset 40px 0 0 #ECECEC, inset 41px 0 0 #ddd;
}

ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  font-size: 12px;
  padding-left: 12px;
  color: #888;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
