.style-guide-sidebar {
  margin: 30px 20px;
  border: 1px solid #ddd;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1);
          box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.style-guide-sidebar-partial + .style-guide-sidebar-partial {
  border-top: 1px solid #ddd;
}

.style-guide-sidebar a {
  color: #888;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  padding: 5px 15px;
  display: block;
}

.style-guide-sidebar a i {
  font-style: normal;
  float: right;
  font-size: 30px;
  line-height: 18px;
  color: #ddd;
}

.style-guide-sidebar a:hover {
  background-color: #f5f5f5;
}

.style-guide-sidebar a:hover i {
  color: #888;
}

@media (min-width: 720px) {
  .style-guide-sidebar {
    margin: 10px;
  }
}

@media (min-width: 960px) {
  .style-guide-sidebar {
    margin-left: 0;
  }
}
