<div class="swatch freshBlue 		"></div>
<div class="swatch freshRed 		"></div>
<div class="swatch freshGold 		"></div>
<div class="swatch freshBlack 	    "></div>
<div class="swatch freshDarkGray	"></div>
<div class="swatch freshGray 		"></div>
<div class="swatch freshLightGray   "></div>
<div class="swatch freshLighterGray "></div>
