<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
<ul class="dropdown-menu">
  <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
  <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
  <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
  <li class="divider"></li>
  <li><a href="#"><i class="i"></i> Make admin</a></li>
</ul>
