<div class="well" style="padding: 8px 0; margin-bottom: 0;">
  <ul class="nav nav-list">
    <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
    <li><a href="#"><i class="icon-book"></i> Library</a></li>
    <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
    <li><a href="#"><i class="i"></i> Misc</a></li>
  </ul>
</div>
